<ion-view title="Repository Detail View">
  <ion-nav-bar>
    <ion-nav-back-button>
    </ion-nav-back-button>
  </ion-nav-bar>
  <ion-content ng-controller="CommitsCtrl">
    <ion-list>
      <ion-item ng-if="error" style="text-align: center">
        {{error}}
      </ion-item>
      <ion-item class="item-avatar" ng-repeat="commit in commits">
        <img ng-if="commit.author && commit.author.avatar_url" ng-src="{{commit.author.avatar_url}}">
        <h2>{{commit.commit.message}}</h2>
        <p>{{commit.commit.author.date | date}}</p>
      </ion-item>
      <ion-infinite-scroll ng-if="showLoadMore()" on-infinite="loadMore()" distance="1%" immediate-check="false">
      </ion-infinite-scroll>
    </ion-list>
  </ion-content>
</ion-view>
